[Desktop Entry]
Type=Application
Version=1.0
Name=Aurora
Comment=NVIDIA GameStream Client, for LG webOS TV.
Exec=moonlight-tv
Icon=moonlight-tv
Terminal=false
Categories=Game;RemoteAccess